/* Importing "ANTON" font families front google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  background: green !important;
}

.single-column-container *{
    background: aqua !important;
}